* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
}

* {
  text-decoration: none;
  list-style: none;
}

.wrapper {
  max-width: 1110px;
  margin: 2rem auto;
}

.nav-container {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #979797;
}

.nav-left {
  display: flex;
  gap: 6rem;
  align-items: center;
  height: 4rem;
}

.nav-links ul {
  display: inline-flex;
  gap: 1rem;

  /* margin-left: -25rem; */
}

.nav-links a {
  color: #979797;
  font-family: "Kumbh Sans", sans-serif;
  display: inline-block;
  height: 4rem;
  /* padding-bottom: -2rem; */
}
.nav-links a:hover {
  border-bottom: 3px solid #ff7e1b;
}

.sneak-nav {
  font-size: 1.8rem;
  display: block;
  height: 4.7rem;
}

.nav-icons ul {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
}

/* .nav-icons img {
  height: 2rem;
} */

.nav-icons a {
  font-size: 0.3rem;
  padding-bottom: 2rem;
  /* height: 4rem; */
}

.shopping-cart {
  margin-bottom: 2.5rem;
}

.nav-image {
  height: 3rem;
  display: block;
  margin-bottom: 3rem;
}

.nav-image:hover {
  border-radius: 50%;
  border: 2px solid #ff7e1b;
}

/* display layer  */

.main-display-area {
  max-width: 1015px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
}

.big-image {
  height: 445px;
  width: 445px;
  border-radius: 1rem;
  border: 2px solid black;
  border: hidden;
}

.big-image:hover {
  border: visible;
}

.shoe-image-selector {
  padding-top: 1rem;
  max-width: 445px;
  display: flex;
  justify-content: space-between;
}

/* .big-image2 {
  height: 88px;
  width: 88px;
  border-radius: 0.5rem;
  position: absolute;
  margin-left: -27.8rem;
  margin-top: 29.1rem;

  z-index: 1;
  visibility: hidden;
}

.big-image2:hover {
  visibility: collapse;
  border: 5px solid #ff7e1b;
} */

.shoe-image-selector img {
  height: 88px;
  width: 88px;
  border-radius: 0.5rem;
  position: relative;
  /* z-index: 2; */
}

.empty-border {
  height: 88px;
  width: 88px;
  border-radius: 0.5rem;
}

.empty-border:hover {
  border: 2px solid #ff7e1b;
}

.shoe-image-selector img:hover {
  opacity: 0.3;
  /* border: 2px solid #ff7e1b; */
}
.shoe-image-selector img:focus {
  border: 5px solid #ff7e1b;
}

.sneak {
  text-transform: uppercase;
  color: #ff7e1b;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  padding-bottom: 1rem;
}

h1 {
  text-transform: capitalize;
  padding-bottom: 2rem;
}

.information p {
  color: #979797;
  padding-bottom: 1rem;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: normal;
}

.current-price {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.discount {
  color: #ff7e1b;
  background-color: #ffeee2;
  width: 2.5rem;
  text-align: center;
  border-radius: 5px;
}

.old-price {
  color: #979797;
  text-decoration: line-through;
  padding-bottom: 1rem;
}

button {
  height: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.cart-button {
  fill: green;
  width: 3rem;
}

.counter {
  display: flex;
  width: 4.5rem;
  background-color: #f3f3f3;
  border-radius: 5px;
}

.counter button {
  width: 1.5rem;
  border: none;
  border-radius: 5px;
}

.count-change:hover {
  cursor: pointer;
}

.add-cart button {
  border: none;
  background-color: #ff7e1b;
  border-radius: 5px;
  width: 12rem;
  height: 2.5rem;
}

.cart-and-text {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.cart-button-text {
  color: #f3f3f3;
  font-weight: bold;
}

.add-cart button:hover {
  background-color: #ffab6a;
}

.button-cart {
  font-size: 1rem;
}
/* .count {
  background-color: #f3f3f3;
  text-align: center;
  padding-top: 0;
} */
